Nomina.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="REGISTRO">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ID_NOMINA" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="FECHA_INICIO" type="xs:date" />
              <xs:element minOccurs="0" name="FECHA_FIN" type="xs:date" />
              <xs:element minOccurs="0" name="FECHA_PAGO" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>